<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Permissions untuk akses lokasi -->
    <!-- ACCESS_FINE_LOCATION: Untuk GPS dengan akurasi tinggi -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- ACCESS_COARSE_LOCATION: Untuk network provider (WiFi, cell towers) -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- ACCESS_BACKGROUND_LOCATION: Untuk akses lokasi di background (opsional) -->
    <uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />
    
    <!-- Permissions untuk network connection -->
    <!-- INTERNET: Untuk koneksi internet (diperlukan untuk network provider location) -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- ACCESS_NETWORK_STATE: Untuk cek status koneksi network -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- ACCESS_WIFI_STATE: Untuk cek status WiFi (berguna untuk network location) -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    
    <application
        android:label="laundrymobile"
        android:name="${applicationName}"
        android:icon="@mipmap/ic_launcher">
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="singleTop"
            android:taskAffinity=""
            android:theme="@style/LaunchTheme"
            android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode"
            android:hardwareAccelerated="true"
            android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data
              android:name="io.flutter.embedding.android.NormalTheme"
              android:resource="@style/NormalTheme"
              />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data
            android:name="flutterEmbedding"
            android:value="2" />
    </application>
    <!-- Required to query activities that can process text, see:
         https://developer.android.com/training/package-visibility and
         https://developer.android.com/reference/android/content/Intent#ACTION_PROCESS_TEXT.

         In particular, this is used by the Flutter engine in io.flutter.plugin.text.ProcessTextPlugin. -->
    <queries>
        <intent>
            <action android:name="android.intent.action.PROCESS_TEXT"/>
            <data android:mimeType="text/plain"/>
        </intent>
    </queries>
</manifest>
